<!-- NAV BLOCK START -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><div style="width: 100%; position: fixed; top: 0; left: 0;"></div><table width="900" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td height="80" valign="top" style="padding-top: 10px; padding-bottom: 10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="200"><a href="/home"><img src="{theme}/images/logo_rus_200.png" width="200" height="70" border="0" /></a></td>
            <td valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="right" valign="middle"> include("timeonline_ru.php"); </td>
                            <td width="120" align="center" valign="top"><table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="30" align="center" valign="middle" style="padding-left: 2px; padding-right:2px;">
                                  	<a href="/ru/home"><img src="{theme}/images/nav_lang_rus.png" onmouseover="this.src='{theme}/images/nav_lang_rus2.png'" onmouseout="this.src='{theme}/images/nav_lang_rus.png'" width="30" height="30" border="0" /></a>
                                  </td>
                                  <td width="30" align="center" valign="middle" style="padding-left: 2px; padding-right:2px;">
                                  	<a href="/ua/home"><img src="{theme}/images/nav_lang_ukr.png" onmouseover="this.src='{theme}/images/nav_lang_ukr2.png'" onmouseout="this.src='{theme}/images/nav_lang_ukr.png'" width="30" height="30" border="0" /></a>
                                  </td>
                                  <td width="30" align="center" valign="middle" style="padding-left: 2px; padding-right:2px;">
                                  	<a href="/en/home"><img src="{theme}/images/nav_lang_eng.png" onmouseover="this.src='{theme}/images/nav_lang_eng2.png'" onmouseout="this.src='{theme}/images/nav_lang_eng.png'" width="30" height="30" border="0" /></a>
                                  </td>
                                </tr>
                            </table></td>
                          </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="5"><img src="{theme}/images/spacer5.png" width="5" height="5" /></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td align="center" valign="middle">{content}</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <!-- <tr>
        <td height="25" align="center" valign="middle" style="background-image:url({theme}/images/spacer_line1.png); background-repeat:repeat-x; background-position: center;"><img src="{theme}/images/spacer1.png" width="1" height="1" /></td>
      </tr>
       -->
    </table>
    </td>
  </tr>
</table>
<!-- NAV BLOCK END -->