<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Default</title>
</head>
<body style="background-color: #eee; padding: 0px; margin: 0px;">

	<table style="height: 100%; width: 100%; padding: 0px; margin: 0px; background-color: #ccc;">
		<tr style="height: 50px;">
			<td><h1 style="text-align:center;">I'm a super HEADER!</h1></td>
		</tr>
		<tr>
			<td><div style="font-size:30px; font-family:Verdana;">Site menu in static :)</div></td>
		</tr>
		<tr>
			<td valign="top">{content}</td>
		</tr>
	</table>

</body>
</html>